body, h1, h2, h3, h4, h5, h6{

    margin: 0;
    font-family: 'Kalam';
}

img {width: 100%;}





:root {

    --kit: #ffe8ad;
    --border: #a7a094;
    --borderLite: #c7b5ab;
    --borderDark: #8b7f79;
    --cyan: #c3fcdd;
    --aqua: #bcece5;
    --lightBlue: #eef5ff;
    --borderBlack: #756b66;
    --brightBlue: #f1fffd;
}





@keyframes moveBG {

    from {background-position-x: 0px;}
    to   {background-position-x: 102.8vw;}
}

@keyframes appear {

    from {opacity: 0;transform: translateY(-100%);}
    to {opacity: 100;transform: translateY(0);}
}

@keyframes skew {

    from {transform: skewX(0deg);}
    to   {transform: skewX(10deg);}
}





.topBG_cont {

    width: 100%;
    height: 600px;
    background-image: linear-gradient(to top, var(--aqua) 30%, var(--border) 30%);
    display: flex;
    overflow: hidden;
}

.squr {

    width: 60%;
    margin: 0 -5%;
    height: 100%;
    background-color: var(--aqua);
    background-image: url(images/BannerWord.png);
    background-size: cover;
    background-position-y: center;
}

.rec1, .rec2, .rec3, .rec4 {

    width: 15%;
    height: 140%;
    box-shadow: -1vh 0 1vh 0 rgba(0,0,0,0.2);
    margin: -5vh 0;
    background-color: var(--kit);
    transform: rotateZ(7deg);
    z-index: 2;
}
.rec3, .rec4 {
    
    box-shadow: 1vh 0 1vh 0 rgba(0,0,0,0.2);
    transform: rotateZ(-7deg);
}
.rec1, .rec4 {
    
    z-index: 1;
    width: 10%;
    background-color: var(--cyan);
}

.angel {

    z-index: 2;
    width: 15%;
    position: absolute;
    margin: -1% 17vw;
    align-self: flex-end;
}

.logo {

    z-index: 2;
    position: absolute;
    align-self: center;
    width: 85%;
    margin: 213px 40vw;
    transform: rotateZ(7deg);
    filter: drop-shadow(0 0 0 rgba(0,0,0,0.2));
}





.navBar_cont {

    width: 100%;
    display: flex;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 6;
    filter: drop-shadow(1vh 0 1vh rgba(0,0,0,0.2));
}

.kit {

    z-index: 4;
    width: 100%;
    background-image: url(images/KitsHead.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin: -100px 0;
    height: 100px;
}

#kit {transition: .5s;}

.navBar {

    width: 100%;
    display: block;
    height: 70px;
    background-color: var(--borderLite);
    z-index: 5;
}

.select, .selectS {

    background-color: var(--borderLite);
    height: 70px;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    color: white;
}

.selectS {

    width: 200px;
    display: none;
    overflow: hidden;
}

a {
    
    font-size: 25px;
    text-decoration: none;
}

.select:hover, .selectS:hover {

    background-color: var(--borderDark);
    height: 70px;
    cursor: pointer;
}

.sideNavBar .select:hover, .sideNavBar .selectS:hover {

    background-image: url(images/Paw.png);
    background-size: contain;
}

.whiteLine {

    width: 80%;
    margin: 10px auto;
    height: 15%;
    background-color: white;
}

.sideNavBar {

    width: 80vw;
    height: 100vh;
    position: fixed;
    z-index: 8;
    right: -100vw;
}

.sideNavBar .select, .sideNavBar .selectS {

    width: 80vw;
    float: right;
    display: block;
}

#sideNavBar {transition: .25s ease;}

#black {
    
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 7;
    background-color: rgba(0,0,0,0.5);
}

.sideNavBar .nthing {

    width: 80vw;
    float: right;
    height: 100vh;
    background-color: var(--borderLite);
    background-image: url(images/Paw2.png);
    background-size: 10vh;
}

.sideNavBar .select, .sideNavBar .selectS {

    background-image: url(images/Paw2.png);
    background-size: 10vh;
}





.content {

    background-color: var(--lightBlue);
    width: 100%;
}

.nothing {

    width: 100%;
    height: 25vh;
}

.section {

    width: 100%;
    min-height: 50vh;
    display: flex;
    overflow: hidden;
    transition: .25s ease;
}

.section:hover {

    box-shadow: 0 1vh 1vh 0 rgba(0,0,0,0.1), 0 -1vh 1vh 0 rgba(0,0,0,0.1);
    transition: .25s ease;
}

.left {

    width: 58%;
    height: 50vh;
    background-color: white;
    overflow: hidden;
    display: inline-block;
}

.dash {

    width: 7%;
    height: 50vh;
    transform: skewX(-4deg);
    margin: 0 -3.5%;
    background-color: white;
    box-shadow: 1vh 0 1vh 0 rgba(0,0,0,0.2);
}

.right {

    width: 44%;
    height: 50vh;
    background-image: url(images/KitJumping.png);
    background-size: 16vh;
    background-color: var(--borderLite);
    animation: moveBG infinite 100s linear;
}

.section h1, .section h2, .section h3, .section h4 {

    margin: 20px;
    color: var(--borderBlack);
    font-size: 160%;
}

.section h1 {

    font-family: 'Josefin Sans';
    font-weight: bolder;
    font-size: 400%;
    text-shadow: 1px 1px 0 rgba(0,0,0,1),
                 -1px -1px 0 rgba(0,0,0,1),
                 -1px 1px 0 rgba(0,0,0,1),
                 1px -1px 0 rgba(0,0,0,1);
    color: white;
}

.linksCont {

    width: 100%;
    height: 35%;
    display: flex;
}

#youtube, #fiverr, #discord, linksCont a {

    width: 33.3333%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    transition: .25s;
}

#fiverr {

    background-color: #1dbf73;
}

#discord {

    background-color: #5865F2;
}

#youtube svg, #fiverr img, #discord img {

    width: 50%;
    height: 100%;
}

#youtube:hover , #fiverr:hover , #discord:hover {

    height: 200%;
    cursor: pointer;
    transition: .25s;
}





.footer {

    width: 100%;
    background-color: black;
    color: white;
    min-height: 35vh;
    display: flex;
}

.footer .cont, .footer .cont2 {

    width: 20%;
    background-color: #181818;
    min-height: 35vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: 'Josefin Sans';
    font-size: 2vw;
}

.footer .cont2 {

    width: 80%;
    align-items: center;
    justify-content: center;
    background-color: black;
    text-align: center;
}

.footer h1, .footer h2 {

    font-family: 'Josefin Sans';
}

.footer .cont h1 {
    
    margin: 10% 0 10% 10%;
    font-size: 3vw;
}

.footer .cont h2 {
    
    margin: 0 0 0 20%;
    font-size: 2vw;
}

#MrCreeper, #Kristina, #Hana  {

    width: 100%;
    height: 2vw;
    background-color: #181818;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: .25s ease;
}

#MrCreeper:hover, #Kristina:hover, #Hana:hover {

    transition: .25s ease;
    cursor: default;
    background-color: black;
}





#wink-jumpscare {

    background-image: url(images/winkKit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 35%;
    background-attachment: fixed;
}

#home {

    background-image: url(images/Home.svg);
    background-size: contain;
    background-position: center .5vh;
    background-repeat: no-repeat;
    width: auto;
}





.fanArt .content {

    background-color: var(--aqua);
    background-image: url(images/KitLisa.png);
    background-size: 30vh;
    background-position-y: top;
    background-position-x: 75vw;
    background-repeat: no-repeat;
}

.title {

    overflow: hidden;
    padding: 5% 0%;
    display: flex;
    animation: appear .75s ease forwards;
}

.title h1 {

    font-family: 'Josefin Sans';
    font-weight: bolder;
    font-size: 700%;
    text-shadow: 1px 1px 0 rgba(0,0,0,1),
                 -1px -1px 0 rgba(0,0,0,1),
                 -1px 1px 0 rgba(0,0,0,1),
                 1px -1px 0 rgba(0,0,0,1),
                 0 0 1vh rgba(0,0,0,0.2);
    color: white;
    animation: .50s skew .25s ease forwards;
    margin: 0 auto;
}

.border {

    background-color: var(--kit);
    width: 100%;
    min-height: 3vh;
    box-shadow: 0 -1vh 2vh 0 rgba(0,0,0,0.05);
    z-index: 1;
    position: absolute;
    position: sticky;
    position: -webkit-sticky;
    top: 70px;
}

.fanArtRef {

    width: 100%;
    height: 75vh;
    background-color: var(--aqua);
    background-image: url(images/Pattern.jpg);
    background-size: cover;
}

.artRef {

    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(images/AngelRef.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
}

.border h1 {

    text-shadow: 1px 1px 0 rgba(0,0,0,1),
                 -1px -1px 0 rgba(0,0,0,1),
                 -1px 1px 0 rgba(0,0,0,1),
                 1px -1px 0 rgba(0,0,0,1),
                 0 0 1vh rgba(0,0,0,0.2);
    color: white;
    text-align: left;
    font-size: 350%;
    margin: 0 0 0 2%;
}

.art {

    background-color: var(--brightBlue);
    width: 100%;
    padding: 2% 0;
    overflow: hidden;
}





.clmn {

    width: 100%;
    min-height: 100vh;
    margin: 2% 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.clmn img {

    width: 94%;
}
